{% extends 'base.html' %} {% block title %} About {% endblock title %} 
{% block content %}
<h1>A propos de moi</h1>
<div class="card">
  <div class="card-body fs-2">
    Je m’appelle Adama Traoré, j’ai 25 ans et célibataire 😁. J’ai toujours été
    passionné par les ordinateurs, alors une fois le bac en poche j’ai décidé de
    suivre une formation informatique et c'est là que j'ai choisi <a href='http://uvs.sn/'>UVS(université
    virtuelle du Sénégal)</a> laquelle j’ai suivi un cursus d’informatique sur 3
    ans. 3 semestres en informatique générale et 3 autres semestres en
    develepement de jeux vidéo.
    <br />
    <br />
    Pour le dernier semestre (S6) j'ai eu a faire un stage de 3mois chez <a href='https://synapsecenter.org/hatice-technology/'>Hatice Technologie</a> où
    on a eu a travailler sur le game design document(GDD) de trois et la realisation de certain 
    jeu avec <a href='https://godotengine.org/'>Godot engine</a>.
    <br />
    <br />
    Et j'ai aussi suivi un stage de formation de 3 mois en parallèle à <a href='https://www.defarsci.org/'>DEFAR SCI</a> où
    j'ai appris les bases de la machine learning et certaines librairies de
    python qui nous permettrons de faire de la science des données.
  </div>
</div>
{% endblock content %}
